h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columna-container {
  text-align: center;
  border: solid 1px #ccc;
  min-height: 100%;
  width: 222px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 10px 0 10px;
  padding: 0 10px 0 10px;
  vertical-align: top;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tareas-container {
  flex-grow: 1;
}

/* Otros */
h1 {
  font-size: 3rem;
  color: #2d3233;
}

.task-container {
  margin: 0;
  list-style: none;
  padding: 5px;
  border-radius: 5px;

  display: inline-flex;
  flex-direction: column;
}

.task-item {
  color: rgb(250, 82, 52);
  box-shadow: 0px 2px 4px #4a4c4e;
  border-radius: 5px;
  padding: 0.3em 0.5em;
  background-color: whitesmoke;
  text-align: center;
  margin: 5px;
  border: 2px solid transparent;
}

.task-item:focus {
  outline: none;
  border: 2px solid #4a9af5;
}